<html>
	<head>
		<meta charset="UTF-8" />
		<title> Encombrants - Une application dédiée aux encombrants </title>
		<meta name="description" content="Encombrants, une application disponible sur le web et sur les mobiles, pour déclarer un dépôt d'encombrants, et permettre aux nettoyeurs de le localiser" />
		<meta name="keywords" content="encombrants, nettoyeur, depot, depot gratuit, zone de gratuité" />
		<meta name="author" content="Yannick Le Tallec - BZH" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link type="text/css" href="/web/css/styles.css" rel="stylesheet" /> 
		<link type="image/x-icon" href="/web/images/favicon.ico" rel="shortcut icon" />
	</head>
	<body>
		{{{body}}}
		{{{footer}}}
	</body>
	----
</html>

